/* style.css */

/*add some padding to the body*/
.tab-container {
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  overflow-x: auto;
}


.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent th {
  line-height: 17px;
}

.tabcontent tr:nth-child(even) {
  background-color: #f6f6f6;
}

.tabcontent tr:hover {
  background-color: #e3e2e2;
}

.tabcontent .table-container {
  overflow-x: auto;
}

.tabcontent td {
  font-size: 14px;
}


/*!* Optional: Add this to make the tab contents animated *!*/
/*.tabcontent {*/
/*  animation: fadeEffect 1s; !* Fading effect takes 1 second *!*/
/*}*/

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.highlight {
  font-weight: bold;
  color: black;
}
