:root {
  --treeffuser-color: hsl(121, 64%, 22%);
}

.teaser {
  grid-column: text;
  width: 100%;
}

#figure1  .draggable {
  cursor: grab;
}

#figure1  .draggable:active {
  cursor: grabbing;
}

#figure1  .draggable.dragging {
  cursor: grabbing;
}

#slider {
  stroke: grey; /* Set the stroke color to black */
  stroke-width: 7; /* Set the stroke width to 4 */
  stroke-opacity: 0.6; /* Set the stroke opacity to 0.6 */
}

#slider:hover {
  stroke-width: 10; /* Increase the stroke width to 6 on hover */
  stroke: darkgray; /* Change the stroke color to grey on hover */

}
