contourpy
cycler
docutils
einops
fonttools
jaxtyping
joblib
kiwisolver
lightgbm
matplotlib
numpy
packaging
pillow
pyparsing
python-dateutil
scikit-learn
scipy
six
threadpoolctl
typeguard
typing_extensions
xgboost
virtualenv>=16.6.0
pip>=19.1.1
setuptools>=18.0.1
six>=1.14.0
tox
twine
